In [7]:
import pandas as pd
import numpy as np
import reverse_geocoder as rg

In [2]:
df = pd.read_csv("twittersentiment2020_v4.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,Tweets,Dates,Longitude,Latitude,Sentiment
0,0,0,It was great to host our colleagues from @EC_S...,2020-01-16,4.334394,11.970804,neutral
1,1,1,#phep #globalhealth #Ebola #smem https://t.co/...,2020-01-16,-7.828624,10.650561,positive
2,2,2,#Ebola in #DRC . Cases traced to Mabalako stil...,2020-01-16,5.680832,8.634894,neutral
3,3,3,My first opinion piece for 2020 is for Project...,2020-01-16,0.234000,11.930438,neutral
4,4,4,Ease of movement in #DRC allows people to put ...,2020-01-16,-0.004620,9.648310,neutral

In [14]:
df['Lat/Long'] = df[['Latitude', 'Longitude']].apply(tuple, axis=1)
list(df["Lat/Long"])
rg.search(list(df["Lat/Long"]))
countries = pd.DataFrame(rg.search(list(df["Lat/Long"])))
countries = countries["cc"]
df["Country"] = countries
df.groupby('Country').nunique()

,Unnamed: 0,Unnamed: 0.1,Tweets,Dates,Longitude,Latitude,Sentiment,Lat/Long,Country
Country,,,,,,,,,
BF,58,58,58,9,58,58,3,58,1
BJ,110,110,110,9,110,110,3,110,1
CF,1,1,1,1,1,1,1,1,1
CI,31,31,31,9,31,31,3,31,1
CM,13,13,13,9,13,13,2,13,1
GH,84,84,84,9,84,84,3,84,1
GN,8,8,8,5,8,8,2,8,1
ML,8,8,8,4,8,8,2,8,1
NE,2,2,2,2,2,2,2,2,1
NG,466,466,466,9,466,466,3,466,1
TD,13,13,13,6,13,13,3,13,1
TG,51,51,51,9,51,51,3,51,1